@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
 
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
}

/* Responsive Düzenlemeler */
@media (max-width: 768px) {
  /* 768 pikselden küçük ekranlar için stil düzenlemeleri buraya gelecek */
  .hero-container {
    height: auto;
    flex-direction: column;
    padding: 2rem;
    margin-top: 40px;
  }

  .hero-image-container {
    margin-left: 0;
  }

  .hero-image {
    min-width: 300px;
  }
  body {
    width: 100%;
  }
}

/* Responsive Düzenlemeler */
@media (max-width: 768px) {
  /* 768 pikselden küçük ekranlar için stil düzenlemeleri buraya gelecek */
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item-img {
    width: 100px;
    margin-bottom: 1rem;
  }

  .cart-item-info {
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 0;
  }

  .cart-item-texts {
    text-align: start;
  }

  .cart-item-remove {
    margin-top: 1rem;
  }
}

/* Responsive Düzenlemeler */
@media (min-width: 769px) and (max-width: 1017px) {
  /* 769 pikselden 1017 piksele kadar olan ekranlar için stil düzenlemeleri buraya gelecek */
  .your-button {
    white-space: normal; /* Metinleri iki satıra bölmek için */
    word-wrap: break-word; /* Metinlerin satır sonunda kesilmesini engellemek için */
  }
}
